body{
  text-align: center;
  background-color: Thistle;
  font-family: 'Josefin Sans', sans-serif;
}

h2{
  border-bottom: 1px solid black;
}

h3{
  padding-bottom: 10px;
}

img{
  height: 90px;
  padding: 10px;
}

p{
  font-size: 20px;
  font-weight: bolder;
}

#leftSide{
  padding-top: 2%;
}

#title{
  font-size: 50px;
}

#enterLocation{
  padding: 10px;
}

#humidity, #temp{
  font-weight: normal;
}

#forecast img{
  height: 60px;
}

.high, .low{
  font-size: 16px;
}

.dayOfWeek, .temp{
  color: LightSlateGray;
}
